header {
  padding: 25px 0;
  background-color: $primary-color;
  border-bottom: 2px dashed $off-black;
  position: relative;
}

h1 {
  margin: 0;
  padding: 10px 0px;

  font-size: 3.8rem;
  font-family: 'Beth Ellen', cursive;

  position: relative;
  z-index: 2;
}

.logo {
  width: 100px;

  position: absolute;
  top: -15px;
  left: -25px;

  z-index: 1;
}