.logoutButton {
  position: absolute;
  bottom: -60px;
  right: 0;
  padding: 10px;
  @include media($first-break) {
    // right: 90px;
  }
}

.cardList {
  padding: 0 10px;
  font-size: 2.2rem;
  @include media($second-break){
    margin: 0;
  }

  li {
    padding: 10px 0;
    padding-bottom: 10px;
  
    border-bottom: 2px dashed $off-black;
  }
  .cardHeader {
    padding-bottom: 10px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background: none;
      color: inherit;
      font-size: 2.2rem;
      position: relative;
      top: 2px;
    }
    span{
      cursor: pointer;
    }
  }
}

.bought {
  opacity: 0.7;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: calc(100% - 80px);
    height: 1px;

    position: absolute;
    bottom: 40%;
    left: 40px;
    right: 30px;

    border-bottom: 2px dashed $primary-accent;
  }
}

.cardName button {
  top: 1px;
}

.showDescriptionButton {
  background: none;
  border: none;
  color: $off-black;
  font-size: 2rem;
  transition: all 0.1s;
  &:hover,
  &:focus {
    color: #797979;
    background: none;
    transform: scale(1.1);
  }
}

.cardBody {
  height: 0px;
  overflow: hidden;
  position: relative;
  &.show {
    height: auto;
    overflow: visible;
  }
  p {
    margin: 0;
  }
  .cardDetails {
    display: flex;
  }
  .cardText {
    margin-left: 25px;
  }
}

.foilMark {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 10px;
  left: -20px;
}

.ss {
  width: 25px;
  height: 25px;
  text-align: center;
  margin-left: 10px;
}
.mobileMenuToggle {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  z-index: 100;
  background-color: $primary-accent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.mobileMenuToggle span {
  background-color: #000;
  display: block;
  width: 100%;
  height: 4px;
  margin: 3px 0;
  transition: all 0.35s, opacity 0.1s;
  &:first-of-type {
    width: 80%;
    &.open {
      width: 100%;
      transform: rotate(45deg) translate(7px, 7px);
    }
  }
  &:nth-of-type(2) {
    width: 90%;
    &.open {
      opacity: 0;
    }
  }
  &:last-of-type {
    &.open {
      
      transform: rotate(-45deg)  translate(7px, -7px);
    }
  }
}
.menuItemList {
  z-index: 10;
  position: fixed;
  right: calc(5% + 20px);
  top: 10px;
  @include media($second-break){
    background-color: $off-white;
    margin: 0;
    right: -300px;
    top: 0;
    position: fixed;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: right 0.35s;
    &.expand {
      right: 0;
    }
    .menuItem {
      width: 100%;
    }
    .menuItemBacking {
      position: static;
      width: 100%;
    }
    .menuItemContent {
      top: 10px;
    }
    .menuItemButton {
      top: -5px;
      left: 0;
    }
    .menuItem0 {
      z-index: 30;
    }
  }
  .menuItem {
    position: relative;
    right: 0;
    top: 0;
    transition: transform 0.35s;
    &.shift .menuItemButton {
      transform: rotate(45deg) scale(1.2);
      @include media($second-break){
        transform: none;
      }
    }
  }
  .menuItem0.shift {
    &~.menuItem {
      transform: translateY(170px);
      @include media($second-break){
        transform: none;
      }
    }
    &~.menuItem1.shift~.menuItem {
      transform: translateY(255px);
      @include media($second-break){
        transform: none;
      }
    }
  }
  .menuItem1.shift {
    &~.menuItem {
      transform: translateY(85px);
      @include media($second-break){
        transform: none;
      }
    }
  }
  .menuItem:nth-of-type(2) {
    top: 60px;
    @include media($second-break){
      top: 0;
    }
  }
  .menuItem:nth-of-type(3) {
    top: 120px;
    @include media($second-break){
      top: 0;
    }
  }
}

.menuItemButton {
  padding: 10px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 50;
  background: none;
  color: #3B3B3B;
  font-size: 2rem;
  transform: rotate(0deg);
  transition: transform 0.35s;
  &:hover {
    background-color: $off-white;
    transform: scale(1.1) rotate(22.5deg);
    @include media($second-break){
      transform: none;
    }
  }
}
.menuItemBacking {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: $off-white;
  transition: width 0.35s, height 0.35s, background 0.35s, top 0.35s, right 0.35s, border-radius 0.35s;
  z-index: 10;
  @include media($second-break){
    width: 300px;
    height: 220px;
  }
  &.show {
    width: 300px;
    height: 220px;
  }
}
.menuItem1 {
  @include media($second-break){
    .menuItemContent,
    .menuItemBacking {
      height: 135px;
    }
  }
  .menuItemContent.show {
    height: 135px;
  }
  .menuItemBacking.show {
    height: 135px;
  }
}
.menuItem2 {
  @include media($second-break){
    height: 205px;
  }
  .menuItemContent.show {
    height: 205px;
  }
  .menuItemBacking.show {
    height: 205px;
  }
}
.menuItemContent {
  width: 300px;
  height: 220px;
  padding: 20px; 
  position: absolute;
  right:0;
  top: 0px;
  z-index: -1;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition: opacity 0s 0s, visibility 0s 0.35s;
  @include media($second-break){
    opacity: 1;
    visibility: visible;
    z-index: 15;
  }
  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 15;
    transition: opacity 0.35s 0.15s, top 0.35s, right 0.35s;
  }
  button {
    width: 90%;
    padding: 10px 0;
    margin: 10px 0;
  }
}
.cardSuggestion,
.setSuggestion {
  width: calc(100%);
  border-radius: 0;
  position: absolute;
  top: 82px;
  height: 37px;
  z-index: 20;
}
.newCardForm {  
  display: flex;
  flex-direction: column;
  position: relative;
  label {
    width: 100%;
    display: block;
    margin-top: 5px;
    z-index: 2;
  }
  input {
    width: 90%;
    padding: 10px 15px;
  }
  p {
    text-align: center;
  }
  .userWarning p{
    background-color: #FFFCF0;
  }
}
.listInfoPanel {
  position: relative;
  height: 135px;
  h3 {
    font-size: 2rem;
  }
  div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 5px;
  }
  .updatePricesButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 59px;
    right: -9px;
    margin: 0;
    padding: 0;
  }
  .clearBoughtButton {
    flex-basis: 50%;
    position: relative;
    p {
      margin: 0;
    }
    button {
      width: calc(100%);
      margin: 0 5px;
    }
  }
  .clearBoughtConfirming{
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: $off-white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    p {
      width: 50%;
      align-self: center;
    }
    div {
      margin: 0;
      width: 50%;
    }
    button {
      width: calc(50% - 10px);
      margin: 0 5px;
    }
  }
}

.cardFilterPanel {
  height: 100%;
  position: relative;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  input, select{
    width: 90%;
  }
  input {
    padding: 10px 15px;
  }
}