html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visually-hidden:not(:focus):not(:active) { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; /* added line */}

img { display: block; max-width: 100%; }
html { font-size: 62.5%; }
a, a:visited { text-decoration: none; color: inherit }
ul { list-style: none; padding: 0;}
.wrapper { max-width: 1080px; width: 90%; margin: 0 auto; }

/* Colour Palette

Almost Black: #3B3B3B
Off White: #FFFCF0
Primary: #F5EDD2
Secondary: #F7F0DB
Emphasis: #CED1B9
Call to Action: #C88080

*/

@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Patrick+Hand|Walter+Turncoat&display=swap');



/* Global Styling */

body {
  background-color: #FFFCF0;
  color: #3B3B3B;
  font-family: 'Patrick Hand', sans-serif;
}
button {
  cursor: pointer;
  border: none;
  background-color: #C88080;
  color: #FFFCF0;

  font-size: 1.5rem;
}
input {
  border: none;
  background-color: #CED1B9;
  text-align: left;
}
.wrapper {
  background-color: #F5EDD2;
  min-height: 100vh;
}

.innerWrapper {
  padding: 0 100px;
}



/* Header Styling */

header {
  padding: 25px 0;
  background-color: #F5EDD2;
  border-bottom: 2px dashed #3B3B3B;
  position: relative;
}

h1 {
  margin: 0;
  padding: 10px 0px;

  font-size: 3.8rem;
  font-family: 'Beth Ellen', cursive;

  position: relative;
  z-index: 2;
}

h2 {
  padding-top: 10px;
  padding-left: 105px;
  margin: 0;

  font-size: 2.2rem;
}

.logo {
  width: 100px;

  position: absolute;
  top: 10px;
  left: 75px;

  z-index: 1;
}

/* Main Styling */

main {
  padding: 25px 0;
}

/* Login / Signup Form Styling */ 

.userForm {
  width: 50%;
  max-width: 400px;

  margin: 0 auto;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 2.2rem;
  position: relative;
}
.formDivider {
  height:1px;
  width: 90%;
  padding-top: 50px;
  border-bottom: 2px dashed #3B3B3B;
}
.userForm label {
  width: 70%;
  text-align: left;
}
.userForm input {
  width: 70%;
  padding: 15px 5px;
  padding-left: 30px;
}
.userForm input + span {
  width: 0%;
  position: relative;
  bottom: 2px;

  border-bottom: 2px dashed #3B3B3B;
  transition: all 0.5s;
}
.userForm input:focus + span {
  width: 70%;
}

.userForm img {
  position: absolute;
  left: 34px;
  top: 74px;
}
.userForm button {
  width: 50%;
  padding: 15px 5px;
  margin: 25px 0;  
}
.userForm button:hover,
.userForm button:focus {
  background-color: #e49999;
}
.userForm button:active {
  background-color: #ac6464;
}


/* Main List Styling */

h3 {
  font-size: 2.8rem;
}

.cardList {
  padding: 0 10px;
  font-size: 2.2rem;
}

.bought {
  opacity: 0.7;
  position: relative;
}
.bought::after {
  content: '';
  display: block;
  width: calc(100% - 30px);
  height: 1px;

  position: absolute;
  bottom: 40%;
  left: 30px;

  border-bottom: 2px dashed #C88080;
}

.cardList li {
  border-bottom: 2px dashed #3B3B3B;
  padding: 15px 0;

  display: flex;
  justify-content: space-between;
}
.cardList li span{
  cursor: pointer;
}
.showDescriptionButton {
  background: none;
  border: none;
  color: #3B3B3B;
  font-size: 2rem;
}

.newCardFarm {
  display: flex;
  flex-direction: column;
  width: 250px;
}

/* Footer styling */

footer {
  text-align: center;
}

footer p {
  margin: 0;
  padding: 25px;
  font-size: 1.8rem;
}