html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visually-hidden:not(:focus):not(:active) { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; /* added line */}

img { display: block; max-width: 100%; }
html { font-size: 62.5%; }
a, a:visited { text-decoration: none; color: inherit }
ul { list-style: none; padding: 0;}
.wrapper { max-width: 1080px; width: 90%; margin: 0 auto; }

/* Colour Palette

Almost Black: #3B3B3B
Off White: #FFFCF0
Primary: #F5EDD2
Secondary: #F7F0DB
Emphasis: #CED1B9
Call to Action: #C88080

*/

@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Patrick+Hand&display=swap');


/* Global Styling */

body {
  background-color: #FFFCF0;
  color: #3B3B3B;
  font-family: 'Patrick Hand', sans-serif;
}
button {
  cursor: pointer;
  border: none;
  background-color: #C88080;
  color: #FFFCF0;

  font-size: 1.5rem;
  border-radius: 100px;
}
button:hover,
button:focus {
  background-color: #e49999;
}
button:active {
  background-color: #ac6464;
}
button:disabled {
  background-color: #ac6464;
}

input {
  border: none;
  background-color: #CED1B9;
  text-align: left;
}
.wrapper {
  background-color: #F5EDD2;
  min-height: 100vh;
}

.innerWrapper {
  margin: 0 100px;
  position: relative;
}



/* Header Styling */

header {
  padding: 25px 0;
  background-color: #F5EDD2;
  border-bottom: 2px dashed #3B3B3B;
  position: relative;
}

h1 {
  margin: 0;
  padding: 10px 0px;

  font-size: 3.8rem;
  font-family: 'Beth Ellen', cursive;

  position: relative;
  z-index: 2;
}

h2 {
  padding-top: 10px;
  padding-left: 105px;
  margin: 0;

  font-size: 2.2rem;
}

input + span {
  width: 0%;
  position: relative;
  bottom: 2px;

  border-bottom: 2px dashed #3B3B3B;
  transition: all 0.5s;
}
input:focus + span {
  width: 70%;
}
.newCardDiv input:focus + span {
  width: 100%;
}

.logo {
  width: 100px;

  position: absolute;
  top: -15px;
  left: -25px;

  z-index: 1;
}

/* Main Styling */

main {
  padding: 25px 0;
  position: relative;
}

/* Login / Signup Form Styling */ 

.userForm {
  width: 50%;
  max-width: 400px;

  margin: 0 auto;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 2.2rem;
  position: relative;
}
.userWarning {
  position: absolute;
  top: 20px;
  width: 100%;

  color: #C88080;
  opacity: 1;
  transition: opacity 0.34s;

  font-size: 2.2rem;
  text-align: center;
}
.userWarningHidden {
  opacity: 0;
}
.userWarning p {
  background-color: #F5EDD2;
  border-radius: 25px;
}
.formDivider {
  height:1px;
  width: 90%;
  padding-top: 50px;
  border-bottom: 2px dashed #3B3B3B;
}

.userForm label {
  width: 70%;
  text-align: left;
}
.userForm input {
  width: 70%;
  padding: 15px 5px;
  padding-left: 30px;
}


.userForm img {
  position: absolute;
  left: 34px;
  top: 74px;
}
.userForm button {
  width: 50%;
  padding: 15px 5px;
  margin: 25px 0;  
}





/* Main List Styling */

h3 {
  font-size: 2.8rem;
  margin: 0;
}

.logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.cardList {
  padding: 0 10px;
  font-size: 2.2rem;
}

.bought {
  opacity: 0.7;
  position: relative;
}
.bought::after {
  content: '';
  display: block;
  width: calc(100% - 80px);
  height: 1px;

  position: absolute;
  bottom: 40%;
  left: 40px;
  right: 30px;

  border-bottom: 2px dashed #C88080;
}
.cardList li {
  padding: 10px 0;
  padding-bottom: 10px;

  border-bottom: 2px dashed #3B3B3B;
}
.cardList .cardHeader {
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cardHeader button {
  background: none;
  color: inherit;
  font-size: 2.2rem;
  position: relative;
  top: 2px;
}
.cardName button {
  top: 1px;
}
.cardList .cardHeader span{
  cursor: pointer;
}
.showDescriptionButton {
  background: none;
  border: none;
  color: #3B3B3B;
  font-size: 2rem;
  transition: all 0.1s;
}
.showDescriptionButton:hover,
.showDescriptionButton:focus {
  color: rgb(121, 121, 121);
  background: none;
  transform: scaleY(1.05);
}

.cardBody {
  /* display: none; */
  /* transform-origin: top;
  transform: scaleY(0); */
  height: 0px;
  overflow: hidden;
  position: relative;
  /* transition: max-height 1s linear; */
}
.cardBody.show {
  /* display: block; */
  /* transform: scaleY(1); */
  height: auto;
  overflow: visible;
}
.cardBody p {
  margin: 0;
}
.cardBody .cardDetails {
  display: flex;
}
.cardBody .cardImage {

}
.cardBody .cardText {
  margin-left: 25px;
}
.foilMark {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 10px;
  left: -20px;
}

.ss {
  width: 25px;
  height: 25px;
  text-align: center;
  margin-left: 10px;
}

/* New Card and Info Buttons */

.newCardMenuButton,
.infoPanelButton {
  
  position: fixed;
  top: 10px;
  right: calc(5% + 10px);

  width: 50px;
  height: 50px;

  border-radius: 25px;

  background-color: #FFFCF0;

  transition: width 0.35s, height 0.35s, background 0.35s, top 0.35s, border-radius 0.35s;

  z-index: 10;
}
.newCardMenuButton {
  z-index: 15;
}
.infoPanelButton {
  right: calc(5% + 10px);
  top: 70px;
}
.newCardMenuButton.show,
.infoPanelButton.show {
  border-radius: 12.5px;
}

.newCardMenuButton.show {
  width: 280px;
  height: 230px;
}
.infoPanelButton.show {
  width: 220px;
  height: 300px;
}
.infoPanelButton.shift {
  top: 250px;
}

.newCardMenuButton button,
.infoPanelButton button {
  padding: 5px;
  height: 30px;
  width: 30px;

  position: absolute;
  right: 10px;
  top: 10px;

  background: none;
  color: #3B3B3B;
  font-size: 2rem;
  transform: rotate(45deg);

  transition: transform 0.35s;
}
.infoPanelButton button {
  transform: rotate(0);
}
.infoPanelButton button:hover,
.infoPanelButton button:focus{
  transform: scale(1.1);
}
.newCardMenuButton button:hover,
.newCardMenuButton button:focus {
  transform: scale(1.1) rotate(45deg);
}

.infoPanelButton.show button {
  transform: rotate(-180deg);
}
.newCardMenuButton.show button {
  transform: rotate(0deg);
}


/* New Card & List Info Form */

.newCardDiv,
.infoPanel {
  width: 230px;

  position: fixed;
  right: calc(5% + 40px);
  top: 10px;
  z-index: -1;

  font-size: 2rem;
  min-height: 200px;
  opacity: 0;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  transition: opacity 0s 0s, display 0 0.35s;
  
}

.infoPanel {
  right: calc(5% + 30px);
  top: 75px;
  margin: 15px;
  min-height: 0;
  width: auto;
}

.listInfoPanel h3 {
  font-size: 2.5rem;
  margin: 0;
}
.listInfoPanel p {
  margin: 0;
  margin-bottom: 10px;
}
.infoPanel .updatePricesButton {
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  right: -25px;
  top: 25px;
  background: none;
  color: #3B3B3B;
}
.infoPanel .updatePricesButton i.updating {
  animation: spin 2s infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.newCardDiv.show,
.infoPanel.show {
  opacity: 1;
  visibility: visible;
  z-index: 15;
  transition: opacity 0.35s 0.15s, top 0.35s;
}

.infoPanel.show {
  z-index: 14;
}

.infoPanelButton.shift + .infoPanel.show {
  top: 260px;
}


.newCardForm {  
  width: 100%;
  padding: 15px; 

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newCardForm label {
  width: 100%;
  margin-top: 5px;
  z-index: 2;
}

.newCardForm input {
  width: 100%;
  padding: 10px 15px;
}
.newCardForm button {
  width: 60%;
  padding: 10px 0;
  margin: 10px 0;
}
.newCardForm .cardSuggestion {
  width: 87%;
  margin: 0;
  border-radius: 0;
  position: absolute;
  top: 86px;
  height: 37px;
  z-index: 15;
}

.newCardDiv p {
  text-align: center;
}

.newCardDiv .userWarning p{
  background-color: #FFFCF0;
}

/* Clear Bought Cards Menu */

.clearBoughtButton {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 15px 0;
  /* height: 80px; */
  width: 100%;
  
  border-radius: 12.5px;

  transition: all 0.35s;

}
.clearBoughtButton button {
  padding: 10px 10px;

  position: relative;
  font-size: 2.2rem;
  color: #FFFCF0;
}

.clearBoughtButton p {
  position: absolute;
  top: -25px;

  margin: 0;
}
.confirmClearButton {
  visibility: hidden;
}
.confirmClearButton.show {
  visibility: visible;
}

.clearBoughtConfirming {
  width: 100%;
}
.clearBoughtConfirming button {
  padding: 5px 5px 3px 5px;
}
.clearBoughtConfirming i {
  font-size: 3.8rem;
}


/* Footer styling */

footer {
  text-align: center;
}

footer p {
  margin: 0;
  padding: 25px;
  font-size: 1.8rem;
}


@media (min-width: 1275px){
  .newCardMenuButton,
  .clearBoughtButton,
  .infoPanelButton {
    background-color: #F5EDD2;
  }
  .newCardMenuButton.show,
  .infoPanelButton.show{
    border: 4px solid #FFFCF0;
  }
  .newCardMenuButton.show button,
  .infoPanelButton.show button {
    top: 6px;
    right: 6px;
  }
  .newCardDiv .userWarning p{
    background-color: #F5EDD2;
  }
}


@media (max-width: 900px){
  .innerWrapper {
    margin: 0 25px;
  }
  .logo {
    left: -15px;
  }
  .userForm {
    width: 80%;
  }
}

@media (max-width:530px){
  .wrapper {
    width: 100%;
  }
  .userForm {
    width: 90%;
  }
  .userForm img {
    left: 25px;
  }
  .logoutButton {
    position: static;
    margin: 10px 0;
  }
  .cardList {
    margin: 0;
  }
}

@media(max-width: 420px){
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    padding-left: 70px;
  }
  h3 {
    font-size: 2rem;
  }
  .logo{
    width: 80px;
  }
  .innerWrapper {
    margin: 0 5px;
  }
  .cardName button {
    padding: 0;
    top: -0.5px;
  }
  .cardName i {
    font-size: 1.8rem;
  }
  .bought {
    text-decoration: line-through;
  }
  .bought::after {
    display: none;
  }

}